<link rel="stylesheet" href="/stylesheets/css/coming-soon.css" type="text/css" media="screen" />
<div class="row">
	<div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 text quiz">
		<div>
			<h2 style="color:#ddd" >
				<strong>Bem vindo ao Quiz</strong>
			</h2>
			<h5 style="color:#fff"> O Quiz inclui uma grande quantidade de perguntas sobre a diversos assuntos. Jogue agora e desafie seus amigos. Veja quem está pronto para competir com você.</h5>
			<p style="color:#31cdef">Selecione um Quiz</p>
			<hr>
		</div>
		<br>
		<div class="row">
			<div ng-repeat="quiz in quizzes" class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
				<button type="button" class="btn btn-info btn-block btn-lg">
					{{quiz.name}}</button>
			</div>
		</div>
		<br/>
		<br/>
		<br/>
	</div>
</div>